<div class="panel-heading">
  <strong>Total Income:</strong> {{currency totalIncome}}
</div>

<div class="panel-body">
    <div>
      {{lorenz-curve data=data height=250}}
     </div>
    <h3 class="household-income-table-title">Household Incomes</h3>
</div>

<table {{bind-attr class=":table :income-table isHidden:hidden"}}>
  <tbody>
    {{#loop 7}}
    <tr class="income-table-row">
      {{#loop 5}}
      <td>
        <div class="form-group" {{action "validateInput" on="keyup"}}>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="number"
              {{action "adjustIncome" on="change"}}
              class="form-control income-amount"
              min="0"
              placeholder="Income"
            >
          </div>
        </div>
      </td>
      {{/loop}}
    </tr>
    {{/loop}}
  </tbody>
</table>

 <a href="#" {{bind-attr class=":btn :btn-default :btn-xs :btn-block isHidden:hidden"}} {{action 'sortData'}}>
   <span class="glyphicon glyphicon-sort"></span> Sort Household Incomes in Ascending Order
 </a>